<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.ant.dao.MovieCityMapper" >
  <resultMap id="BaseResultMap" type="com.cn.ant.entity.MovieCity" >
    <id column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="c_name" property="cName" jdbcType="VARCHAR" />
    <result column="c_address" property="cAddress" jdbcType="VARCHAR" />
    <result column="c_phone" property="cPhone" jdbcType="VARCHAR" />
    <result column="c_city" property="cCity" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, c_name, c_address, c_phone, c_city
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ant_movie_city
    where c_id = #{cId,jdbcType=INTEGER}
  </select>
  <select id="selectByCityName" resultMap="BaseResultMap" parameterType="java.lang.String" >
   	select 
    <include refid="Base_Column_List" />
    from ant_movie_city c
    where c.c_city = #{ccity} ;
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ant_movie_city
    where c_id = #{cId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.ant.entity.MovieCity" >
    insert into ant_movie_city (c_id, c_name, c_address, 
      c_phone, c_city)
    values (#{cId,jdbcType=INTEGER}, #{cName,jdbcType=VARCHAR}, #{cAddress,jdbcType=VARCHAR}, 
      #{cPhone,jdbcType=VARCHAR}, #{cCity,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.ant.entity.MovieCity" >
    insert into ant_movie_city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cName != null" >
        c_name,
      </if>
      <if test="cAddress != null" >
        c_address,
      </if>
      <if test="cPhone != null" >
        c_phone,
      </if>
      <if test="cCity != null" >
        c_city,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cAddress != null" >
        #{cAddress,jdbcType=VARCHAR},
      </if>
      <if test="cPhone != null" >
        #{cPhone,jdbcType=VARCHAR},
      </if>
      <if test="cCity != null" >
        #{cCity,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.ant.entity.MovieCity" >
    update ant_movie_city
    <set >
      <if test="cName != null" >
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cAddress != null" >
        c_address = #{cAddress,jdbcType=VARCHAR},
      </if>
      <if test="cPhone != null" >
        c_phone = #{cPhone,jdbcType=VARCHAR},
      </if>
      <if test="cCity != null" >
        c_city = #{cCity,jdbcType=VARCHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.ant.entity.MovieCity" >
    update ant_movie_city
    set c_name = #{cName,jdbcType=VARCHAR},
      c_address = #{cAddress,jdbcType=VARCHAR},
      c_phone = #{cPhone,jdbcType=VARCHAR},
      c_city = #{cCity,jdbcType=VARCHAR}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
</mapper>