.q_login_bg_new {
	
}
.q_login_bg_new a.q_login_c {
	width: 19px; height: 20px; text-indent: -2000px; overflow: hidden;
}
.q_login_bg_new .tp {
	width: 240px; height: 20px; margin-bottom: 8px;
}
.q_login_bg_new .tips {
	background: url("../../images/user/q_tip_ico.png") no-repeat left; border: 1px solid rgb(255, 51, 51); width: 245px; height: 20px; color: rgb(204, 0, 0); line-height: 20px; padding-left: 25px; display: none;
}
.q_login_bg_new fieldset {
	height: 29px; line-height: 29px; padding-bottom: 10px; vertical-align: middle;
}
.q_login_bg_new fieldset.at {
	height: 20px; line-height: 20px;
}
.q_login_bg_new label {
	background: url("../../images/user/lab_ico.png") no-repeat center; width: 66px; text-align: center; color: rgb(0, 0, 0); margin-right: 10px; float: left; display: inline-block;
}
.q_login_bg_new input {
	width: 190px; height: 25px; color: rgb(102, 102, 102); line-height: 25px; font-size: 14px; float: left;
}
.q_login_bg_new input.on {
	border: 2px solid rgb(51, 153, 204); color: rgb(51, 153, 204);
}
.q_login_bg_new input#au_to_new {
	width: 20px; height: 20px; line-height: 20px; margin-left: 75px;
}
.q_login_bg_new label.auto {
	background: none; width: auto;
}
.q_login_bg_new .sub a {
	height: 25px; color: rgb(51, 153, 204); line-height: 30px; text-decoration: underline; vertical-align: bottom; float: left;
}
.q_login_bg_new a#q_login_submit_new {
	background: url("../../images/user/login_bt.gif") no-repeat; width: 87px; height: 25px; text-align: center; color: rgb(255, 255, 255); line-height: 20px; text-decoration: none; margin-left: 75px; float: left;
}
.q_login_bg_new .reg {
	background: url("../../images/user/q_tips_ico.png") no-repeat left; margin: 10px 10px 10px 75px; height: 18px; text-align: left; line-height: 18px; padding-left: 24px;
}
.q_login_bg_new .reg span {
	color: rgb(0, 0, 0);
}
.q_login_bg_new .reg a {
	color: rgb(255, 0, 0); text-decoration: underline;
}
